body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#gameCanvas {
    display: block; /* Mostrar el canvas */
    margin: auto; /* Centrar el canvas */
}

canvas {
    background-color: #eee;
}

#heartImg {
    width: 20px; /* Establecer el ancho deseado */
    height: auto; /* Mantener la relación de aspecto */
}
